@charset "UTF-8";
@font-face {
  font-family: 'habeeb-icon';
  src: url("fonts/habeeb-icon.eot?nxfs9b");
  src: url("fonts/habeeb-icon.eot?nxfs9b#iefix") format("embedded-opentype"), url("fonts/habeeb-icon.ttf?nxfs9b") format("truetype"), url("fonts/habeeb-icon.woff?nxfs9b") format("woff"), url("fonts/habeeb-icon.svg?nxfs9b#habeeb-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="h-icon-"], [class*=" h-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'habeeb-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.h-icon-close:before {
  content: ""; }

.h-icon-facebook:before {
  content: ""; }

.h-icon-google-plus:before {
  content: ""; }

.h-icon-linked-in:before {
  content: ""; }

.h-icon-twitter:before {
  content: ""; }

.uk-nav {
  margin: auto; }
  .uk-nav .uk-navbar-nav {
    padding: 0 !important; }
    .uk-nav .uk-navbar-nav li > a {
      border: none;
      transition: color .3s ease; }
      .uk-nav .uk-navbar-nav li > a:hover, .uk-nav .uk-navbar-nav li > a:active, .uk-nav .uk-navbar-nav li > a:focus, .uk-nav .uk-navbar-nav li > a.active {
        background: none;
        border: none;
        color: #8D8D8D; }

.uk-margin {
  margin: 25px 0; }

.uk-modal-dialog {
  border-radius: 0px; }
  .uk-modal-dialog .uk-form {
    max-width: 500px;
    margin: auto; }

.uk-button-primary {
  border-radius: 0;
  border: none;
  background-color: #4C4C4C;
  font-size: 14px;
  padding: 7px 16px;
  min-width: 100px; }
  .uk-button-primary:focus, .uk-button-primary:hover, .uk-button-primary:active {
    background-color: #797979 !important; }

.uk-offcanvas-bar {
  background-color: #444; }
  .uk-offcanvas-bar:after {
    background: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
  .uk-offcanvas-bar .uk-nav {
    border: none;
    box-shadow: none; }
    .uk-offcanvas-bar .uk-nav > li > a {
      font-size: 14px;
      box-shadow: none;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      text-shadow: none; }

.uk-close:after {
  content: "\e900";
  font-family: 'habeeb-icon'; }

* {
  font-family: Raleway, sans-serif !important;
  text-shadow: none !important; }
  *::selection {
    color: white; }

a {
  color: #8D8D8D;
  transition: color .3s ease; }
  a:hover, a:active, a:focus, a.active {
    color: #333333; }

html, body {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.h-background {
  background: #F5F5F5;
  padding: 25px 0 50px; }
  @media all and (min-width: 768px) {
    .h-background {
      padding: 50px 0; } }

.h-header {
  margin-bottom: 50px; }
  .h-header .h-logo {
    margin-bottom: 30px; }
    .h-header .h-logo img {
      width: 150px;
      height: 96px; }
  .h-header .h-toggle {
    position: absolute;
    right: -15px;
    top: 10px;
    padding: 15px; }
    .h-header .h-toggle span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #444444; }
    .h-header .h-toggle span:nth-child(2n) {
      margin: 4px 0; }

.h-container {
  max-width: 900px;
  margin: auto; }
  .h-container .h-featured-image {
    margin: -30px -30px 30px -30px; }
    @media all and (min-width: 768px) {
      .h-container .h-featured-image {
        margin: -45px -45px 45px -45px; } }
    @media all and (min-width: 992px) {
      .h-container .h-featured-image {
        margin: -70px -70px 70px -70px; } }
  .h-container a.h-category-link {
    color: #444; }
    .h-container a.h-category-link:hover {
      text-decoration: none; }
    .h-container a.h-category-link p {
      font-size: 14px; }
  .h-container article {
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
    .h-container article .h-article-meta a {
      float: left; }
      @media all and (min-width: 768px) {
        .h-container article .h-article-meta a {
          float: right; } }
    .h-container article .h-article-content {
      margin-top: 30px; }
    .h-container article blockquote {
      margin: 30px 0; }
      @media all and (min-width: 768px) {
        .h-container article blockquote {
          margin: 50px 0; } }
    .h-container article li {
      margin-bottom: 5px;
      line-height: 1.8; }
    .h-container article table {
      width: 100%; }
      .h-container article table tr > th {
        text-align: left; }
    .h-container article + .uk-article {
      padding-top: 30px;
      margin-top: 30px; }
      @media all and (min-width: 768px) {
        .h-container article + .uk-article {
          padding-top: 45px;
          margin-top: 45px; } }
      @media all and (min-width: 992px) {
        .h-container article + .uk-article {
          padding-top: 70px;
          margin-top: 70px; } }
    .h-container article .h-article-meta a {
      font-size: 12px; }
    .h-container article .h-article-meta p {
      margin: 0; }
    @media all and (min-width: 768px) {
      .h-container article {
        padding: 45px; } }
    @media all and (min-width: 992px) {
      .h-container article {
        padding: 70px; } }
    .h-container article.h-category {
      padding: 30px !important;
      max-width: 300px;
      margin: 0 auto 30px auto; }
      .h-container article.h-category .h-category-image {
        margin: -30px -30px 0 -30px; }
      .h-container article.h-category:hover {
        text-decoration: none !important; }
    .h-container article .h-article-title {
      margin: 25px 0;
      font-size: 24px;
      line-height: 1.2; }
      @media all and (min-width: 768px) {
        .h-container article .h-article-title {
          font-size: 30px; } }
      @media all and (min-width: 992px) {
        .h-container article .h-article-title {
          font-size: 36px; } }
    .h-container article p {
      line-height: 1.8; }
    .h-container article .h-article-link {
      font-size: 13px; }
    .h-container article section {
      padding-top: 50px; }
      @media all and (min-width: 768px) {
        .h-container article section {
          padding-top: 50px; } }
      @media all and (min-width: 992px) {
        .h-container article section {
          padding-top: 70px; } }
      .h-container article section.h-share ul {
        margin-top: 10px; }
      .h-container article section .h-related-item {
        max-width: 230px;
        margin: 20px auto auto;
        color: #444 !important; }
        .h-container article section .h-related-item img {
          transition: opacity .3s ease; }
        .h-container article section .h-related-item:hover {
          text-decoration: none;
          color: #111; }
          .h-container article section .h-related-item:hover img {
            opacity: 0.7; }
    .h-container article .h-avatar {
      max-width: 150px;
      margin: 10px auto auto; }
    .h-container article .h-signature {
      max-width: 180px;
      margin: 50px auto auto; }

.h-modal-body {
  padding: 10px; }
  @media all and (min-width: 400px) {
    .h-modal-body {
      padding: 20px; } }
  @media all and (min-width: 768px) {
    .h-modal-body {
      padding: 20px 40px 40px; } }
  .h-modal-body p {
    margin: 30px 0;
    max-width: 500px; }
  .h-modal-body input, .h-modal-body textarea {
    background: none !important;
    border-radius: 0 !important;
    padding: 11px 16px !important;
    height: 38px !important;
    font-size: 14px !important; }
  .h-modal-body input[type="text"]:focus, .h-modal-body input[type="email"]:focus {
    border-color: #c0c0c0 !important;
    padding: 11px 16px !important; }
  .h-modal-body textarea {
    resize: none;
    min-height: 140px; }
    .h-modal-body textarea:focus {
      border-color: #c0c0c0 !important; }

footer {
  display: list-item; }
  footer span {
    font-size: 12px; }

.h-social {
  font-size: 32px;
  margin-bottom: 20px !important; }
  .h-social > li {
    margin: 0 15px; }
    .h-social > li a {
      color: rgba(0, 0, 0, 0.6) !important; }
      .h-social > li a:hover, .h-social > li a:focus, .h-social > li a:active {
        color: rgba(0, 0, 0, 0.8) !important; }

/*# sourceMappingURL=main.css.map */
