/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../sass/partials/_base.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 22, ../sass/partials/_base.scss */
body {
  font-family: "Roboto", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Open Sans, sans-serif;
  color: #353535;
  font-size: 1.4rem;
  font-size: 14px;
  word-spacing: .5px;
  letter-spacing: .0835em;
  height: 100%;
  height: 100vh;
  width: 100%;
  line-height: 1.4;
  font-weight: 400;
  position: relative;
  background-color: #ffffff;
}
/* line 36, ../sass/partials/_base.scss */
body ul,
body ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 44, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}

/* line 54, ../sass/partials/_base.scss */
h1 {
  font-size: 40px;
}

/* line 58, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 62, ../sass/partials/_base.scss */
h3 {
  font-size: 28px;
}

/* line 66, ../sass/partials/_base.scss */
h4 {
  font-size: 21px;
}

/* line 70, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 74, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 78, ../sass/partials/_base.scss */
p {
  margin: 0;
}
/* line 80, ../sass/partials/_base.scss */
p + p {
  margin-top: 8.5px;
}
/* line 83, ../sass/partials/_base.scss */
p a {
  text-decoration: underline;
  color: #e23a40;
}

/* line 89, ../sass/partials/_base.scss */
strong {
  font-weight: 700;
}

/* line 93, ../sass/partials/_base.scss */
address {
  margin: 0;
  font-style: normal;
}

/* line 98, ../sass/partials/_base.scss */
figure {
  margin: 0;
}

/* line 102, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

/* line 108, ../sass/partials/_base.scss */
.narrow_content {
  max-width: 760px;
  line-height: 1.5;
}

/* line 113, ../sass/partials/_base.scss */
.color-primary {
  color: #00abdf !important;
}

/* line 117, ../sass/partials/_base.scss */
.color-secondary {
  color: #e23a40 !important;
}

/* line 121, ../sass/partials/_base.scss */
.color-inverse {
  color: #86c440 !important;
}

/* line 125, ../sass/partials/_base.scss */
.color-black {
  color: #353535 !important;
}

/* line 129, ../sass/partials/_base.scss */
.color-white {
  color: #ffffff !important;
}

/* line 133, ../sass/partials/_base.scss */
.color-grey {
  color: #c5c5c5 !important;
}

/* line 137, ../sass/partials/_base.scss */
.bg-primary-inverse {
  background-color: #e0edf9 !important;
}

/* line 141, ../sass/partials/_base.scss */
.bg-black {
  background-color: #16152e !important;
}

/* line 145, ../sass/partials/_base.scss */
.bg-white {
  background-color: white !important;
}

/* line 149, ../sass/partials/_base.scss */
.font-regular {
  font-weight: 400 !important;
}

/* line 153, ../sass/partials/_base.scss */
.font-bold {
  font-weight: 700 !important;
}

/* line 157, ../sass/partials/_base.scss */
.text-caps {
  text-transform: uppercase !important;
}

/* line 161, ../sass/partials/_base.scss */
.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* line 167, ../sass/partials/_base.scss */
.text-right {
  text-align: right;
  justify-content: flex-end;
}

/* line 172, ../sass/partials/_base.scss */
.text-left {
  text-align: left;
  justify-content: flex-start;
}

/* line 177, ../sass/partials/_base.scss */
.font-sm {
  font-size: 12px !important;
}

/* line 181, ../sass/partials/_base.scss */
.font-md {
  font-size: 16px !important;
}

/* line 185, ../sass/partials/_base.scss */
.font-lg {
  font-size: 21px !important;
}

/* line 1, ../sass/partials/_forms.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(197, 197, 197, 0.5);
}

/* line 6, ../sass/partials/_forms.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(197, 197, 197, 0.5);
}

/* line 11, ../sass/partials/_forms.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(197, 197, 197, 0.5);
}

/* line 16, ../sass/partials/_forms.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(197, 197, 197, 0.5);
}

/* line 21, ../sass/partials/_forms.scss */
fieldset {
  padding: 20px 0;
}
/* line 24, ../sass/partials/_forms.scss */
fieldset > p {
  margin-bottom: 8.5px;
}

/* line 30, ../sass/partials/_forms.scss */
input:focus {
  outline: none;
}

/* line 35, ../sass/partials/_forms.scss */
.input-group-addon {
  background: #e23a40;
  color: #ffffff;
  font-size: .923em;
  padding: 6px 15px;
}

/* line 42, ../sass/partials/_forms.scss */
.input-group-btn {
  font-size: 1em;
}
/* line 44, ../sass/partials/_forms.scss */
.input-group-btn .btn {
  vertical-align: top;
  padding: .75em 1em;
}

/* line 50, ../sass/partials/_forms.scss */
.form-horizontal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 50, ../sass/partials/_forms.scss */
  .form-horizontal {
    margin-bottom: 20px;
  }
}

/* line 58, ../sass/partials/_forms.scss */
.form-group {
  position: relative;
  margin-bottom: 20px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 63, ../sass/partials/_forms.scss */
  .form-group[class*="col-"] {
    margin: 0;
  }
  /* line 65, ../sass/partials/_forms.scss */
  .form-group[class*="col-"]:first-of-type {
    padding-right: 7.5px;
    padding-left: 0;
  }
  /* line 69, ../sass/partials/_forms.scss */
  .form-group[class*="col-"]:last-of-type {
    padding-left: 7.5px;
    padding-right: 0;
  }
}
/* line 76, ../sass/partials/_forms.scss */
.form-group .checkbox-inline {
  margin-top: 0;
}
/* line 80, ../sass/partials/_forms.scss */
.form-group > a:not(.btn) {
  display: inline-block;
  margin-top: 10px;
}

/* line 86, ../sass/partials/_forms.scss */
.help-block {
  font-size: .85em;
  color: #858585;
  font-style: italic;
  margin: 7.5px 0;
}

/* line 93, ../sass/partials/_forms.scss */
label {
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
}
/* line 100, ../sass/partials/_forms.scss */
label.radio-inline + label {
  margin-left: 15px;
}

/* line 106, ../sass/partials/_forms.scss */
.form-control {
  padding: 8px 12px;
  font-size: 1em;
  line-height: normal;
  z-index: 1;
  margin: 0;
  outline: 0;
  overflow: hidden;
  color: inherit;
  text-indent: .02px;
  min-height: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 1px 3px rgba(53, 53, 53, 0.1);
  background-color: #ffffff;
}
/* line 121, ../sass/partials/_forms.scss */
.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #00abdf;
}

/* line 128, ../sass/partials/_forms.scss */
textarea {
  display: block;
  resize: vertical;
}

/* line 133, ../sass/partials/_forms.scss */
.control-label {
  text-transform: none;
  font-size: 1em;
  padding-bottom: 7.5px;
  font-weight: normal;
}

/* line 140, ../sass/partials/_forms.scss */
select.form-control {
  background: white url(../img/arrow-down.png) right center no-repeat;
}
/* line 142, ../sass/partials/_forms.scss */
select.form-control:focus {
  outline: none;
}

/* line 147, ../sass/partials/_forms.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 158, ../sass/partials/_forms.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 161, ../sass/partials/_forms.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 170, ../sass/partials/_forms.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #e23a40;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 177, ../sass/partials/_forms.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #e23a40;
}
/* line 182, ../sass/partials/_forms.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 185, ../sass/partials/_forms.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #e23a40;
}
/* line 188, ../sass/partials/_forms.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #e23a40;
}
/* line 191, ../sass/partials/_forms.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #e23a40;
}

/* line 197, ../sass/partials/_forms.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 206, ../sass/partials/_forms.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 209, ../sass/partials/_forms.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #e23a40;
  border-radius: 2px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 220, ../sass/partials/_forms.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #c5c5c5;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 233, ../sass/partials/_forms.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #e23a40;
  border-color: #e23a40;
}
/* line 237, ../sass/partials/_forms.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #e23a40;
}
/* line 240, ../sass/partials/_forms.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #e23a40;
  border-color: transparent;
}

/* line 246, ../sass/partials/_forms.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* line 254, ../sass/partials/_forms.scss */
.inputfile:focus {
  outline: 1px dotted #e23a40;
  outline: -webkit-focus-ring-color auto 5px;
}

/* line 260, ../sass/partials/_forms.scss */
.subscribe_form {
  margin-top: 15px;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 13, ../sass/partials/_custom_icons.scss */
[class*="btn-"] .cust_icon {
  margin: 0 2px;
  width: 14px;
  height: 14px;
}

/* line 20, ../sass/partials/_custom_icons.scss */
svg {
  display: block;
  width: 100%;
}

/* line 1, ../sass/partials/_header_nav.scss */
header[role="banner"] {
  width: 100%;
  z-index: 30;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 60px;
  top: 0;
  left: 0;
}

/* line 10, ../sass/partials/_header_nav.scss */
.brand_image {
  display: inline-block;
}

/* line 14, ../sass/partials/_header_nav.scss */
.logo_link {
  display: block;
  line-height: 60px;
  position: relative;
}
/* line 19, ../sass/partials/_header_nav.scss */
.ft_block_header .logo_link {
  line-height: 1;
}
/* line 23, ../sass/partials/_header_nav.scss */
.logo_link > img,
.logo_link svg {
  display: inline-block;
  height: auto;
  max-width: 220px;
  vertical-align: middle;
}
/* line 30, ../sass/partials/_header_nav.scss */
.ft_block_header .logo_link > img, .ft_block_header
.logo_link svg {
  max-width: 110px;
}
/* line 35, ../sass/partials/_header_nav.scss */
.logo_link:hover, .logo_link:focus {
  fill: #e23a40;
}

/* line 1, ../sass/partials/_navigations.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  color: inherit;
}
/* line 5, ../sass/partials/_navigations.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #e23a40;
  fill: #e23a40;
}
/* line 11, ../sass/partials/_navigations.scss */
a:focus {
  outline: thin dotted transparent;
}

/* line 16, ../sass/partials/_navigations.scss */
button {
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  line-height: 1;
  background: 0 0;
  cursor: pointer;
}

/* line 29, ../sass/partials/_navigations.scss */
.btn,
a.btn {
  text-decoration: none;
  border-radius: 4px;
  padding: 1.2em 4em;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  color: #ffffff;
  fill: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .165em;
  max-width: 100%;
  text-transform: uppercase;
  box-shadow: 12px 15px 20px rgba(53, 53, 53, 0.1);
  -moz-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
}
/* line 48, ../sass/partials/_navigations.scss */
.btn + .btn,
a.btn + .btn {
  margin-left: 1em;
}
/* line 52, ../sass/partials/_navigations.scss */
.btn.btn-primary,
a.btn.btn-primary {
  background-color: #00abdf;
}
/* line 54, ../sass/partials/_navigations.scss */
.btn.btn-primary:hover, .btn.btn-primary:focus,
a.btn.btn-primary:hover,
a.btn.btn-primary:focus {
  background-color: #e0edf9;
}
/* line 60, ../sass/partials/_navigations.scss */
.btn.btn-secondary,
a.btn.btn-secondary {
  background-color: #e23a40;
}
/* line 62, ../sass/partials/_navigations.scss */
.btn.btn-secondary:hover, .btn.btn-secondary:focus,
a.btn.btn-secondary:hover,
a.btn.btn-secondary:focus {
  background-color: #e02a31;
}
/* line 68, ../sass/partials/_navigations.scss */
.btn.btn-default,
a.btn.btn-default {
  background-color: transparent;
  opacity: .35;
  color: #353535;
  fill: #353535;
}
/* line 74, ../sass/partials/_navigations.scss */
.btn.btn-default:hover, .btn.btn-default:focus,
a.btn.btn-default:hover,
a.btn.btn-default:focus {
  opacity: 1;
  background-color: #ffffff;
}
/* line 80, ../sass/partials/_navigations.scss */
.btn.btn-icon,
a.btn.btn-icon {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 85, ../sass/partials/_navigations.scss */
.btn:hover, .btn:focus,
a.btn:hover,
a.btn:focus {
  text-decoration: none !important;
  box-shadow: 2px 4px 8px 0 rgba(53, 53, 53, 0.4);
}
/* line 89, ../sass/partials/_navigations.scss */
.no-touch .btn:hover, .no-touch .btn:focus, .no-touch
a.btn:hover, .no-touch
a.btn:focus {
  outline: none;
}

/* line 95, ../sass/partials/_navigations.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  padding: .6em 2em;
  font-size: 12px;
}

/* line 101, ../sass/partials/_navigations.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  padding: 1.6em 6em;
  font-size: 16px;
}

/* line 107, ../sass/partials/_navigations.scss */
.btn-link {
  padding: 0;
  color: inherit;
  display: inline-block;
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
}
/* line 112, ../sass/partials/_navigations.scss */
.btn-link .cust_icon {
  width: 12px;
  height: 12px;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 117, ../sass/partials/_navigations.scss */
.btn-link:hover, .btn-link:focus {
  text-decoration: none;
  color: #e23a40;
}

/* line 124, ../sass/partials/_navigations.scss */
.to-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 3.5%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #00abdf url(../img/top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0s;
  -webkit-transition-delay: 0s, 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 30000;
}
/* line 141, ../sass/partials/_navigations.scss */
.no-touch .to-top:hover, .no-touch .to-top:focus {
  background-color: rgba(0, 171, 223, 0.66);
  opacity: 1;
}
/* line 147, ../sass/partials/_navigations.scss */
.to-top.is-visible, .to-top.fade-out, .no-touch .to-top:hover {
  -moz-transition: opacity 0.3s, visibility 0s;
  -o-transition: opacity 0.3s, visibility 0s;
  -webkit-transition: opacity 0.3s, visibility 0s;
  transition: opacity 0.3s, visibility 0s;
}
/* line 152, ../sass/partials/_navigations.scss */
.to-top.is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
/* line 157, ../sass/partials/_navigations.scss */
.to-top.fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

/* line 163, ../sass/partials/_navigations.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #e5e5e5;
  -moz-transition: background-color 0.8s ease-in-out;
  -o-transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* line 175, ../sass/partials/_navigations.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #858585;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 186, ../sass/partials/_navigations.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 189, ../sass/partials/_navigations.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 192, ../sass/partials/_navigations.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #e23a40;
}
/* line 195, ../sass/partials/_navigations.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #16152e;
}

/* line 202, ../sass/partials/_navigations.scss */
.store_btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0 40px;
}

/* line 210, ../sass/partials/_navigations.scss */
.store_btn {
  max-width: 200px;
  padding: 0 5px;
}
/* line 214, ../sass/partials/_navigations.scss */
.store_btn img {
  width: 100%;
  display: inline-block;
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area {
  width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_heroes.scss */
  .hero_area {
    height: 550px;
  }
}

/* line 19, ../sass/partials/_heroes.scss */
.home_hero {
  background-color: #16152e;
  background-image: url(../img/banners/hero_bg.jpg);
  padding: 40px 0;
}

/* line 25, ../sass/partials/_heroes.scss */
.cloudy_bg {
  background-color: #e0edf9;
  background-image: url(../img/banners/cloudy_bg.jpg);
  background-position: center;
}

/* line 31, ../sass/partials/_heroes.scss */
.hero_header {
  padding-bottom: 30px;
}

/* line 35, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 21px;
  line-height: 1.2;
  padding-bottom: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 35, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 32px;
  }
}

/* line 45, ../sass/partials/_heroes.scss */
.hero_blub {
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  margin-bottom: 20px;
  opacity: .75;
  /* Tablets and phablets */
}
/* line 52, ../sass/partials/_heroes.scss */
.section_header .hero_blub {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  /* line 45, ../sass/partials/_heroes.scss */
  .hero_blub {
    line-height: 1.6;
    font-size: 21px;
  }
}

/* line 62, ../sass/partials/_heroes.scss */
.hero_info_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 62, ../sass/partials/_heroes.scss */
  .hero_info_item {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
    margin: 0 -10px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 62, ../sass/partials/_heroes.scss */
  .hero_info_item {
    margin: 0 -25px;
  }
}

/* line 78, ../sass/partials/_heroes.scss */
.hero_info_caption,
.hero_info_image {
  -webkit-box-flex: 1;
  width: 100%;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 576px) {
  /* line 78, ../sass/partials/_heroes.scss */
  .hero_info_caption,
  .hero_info_image {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 78, ../sass/partials/_heroes.scss */
  .hero_info_caption,
  .hero_info_image {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* line 94, ../sass/partials/_heroes.scss */
.hero_info_image {
  position: relative;
  /* Mobile devices */
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (max-width: 575px) {
  /* line 94, ../sass/partials/_heroes.scss */
  .hero_info_image {
    display: none;
  }
}
/* line 101, ../sass/partials/_heroes.scss */
.hero_info_image img {
  width: 100%;
  display: block;
}
@media only screen and (min-width: 576px) {
  /* line 94, ../sass/partials/_heroes.scss */
  .hero_info_image {
    max-width: 40%;
    flex: 1 0 40%;
    bottom: 20px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 94, ../sass/partials/_heroes.scss */
  .hero_info_image {
    bottom: 100px;
  }
}

/* line 117, ../sass/partials/_heroes.scss */
.hero_info_caption {
  color: #ffffff;
  padding-top: 15px;
  fill: #ffffff;
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 117, ../sass/partials/_heroes.scss */
  .hero_info_caption {
    max-width: 60%;
    flex: 1 0 60%;
  }
}

/* line 1, ../sass/partials/_blocks.scss */
.main_content_area {
  z-index: 1;
}

/* line 5, ../sass/partials/_blocks.scss */
.section_block {
  width: 100%;
  clear: both;
  background-size: cover;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

/* line 14, ../sass/partials/_blocks.scss */
.section_header {
  margin-bottom: 30px;
}

/* line 18, ../sass/partials/_blocks.scss */
.section_title {
  font-size: 21px;
  padding-bottom: 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 18, ../sass/partials/_blocks.scss */
  .section_title {
    font-size: 32px;
  }
}

/* line 27, ../sass/partials/_blocks.scss */
.section_cto {
  margin-top: 30px;
  display: block;
  clear: both;
}

/* line 33, ../sass/partials/_blocks.scss */
.main_footer {
  padding: 40px 0 20px;
  background-color: #16152e;
  color: #c5c5c5;
}

/* line 39, ../sass/partials/_blocks.scss */
.image_stub {
  position: relative;
  margin-top: -50px;
}

/* line 44, ../sass/partials/_blocks.scss */
.blob_image {
  position: relative;
  margin-bottom: -60px;
}

/* line 49, ../sass/partials/_blocks.scss */
.footer_block {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 54, ../sass/partials/_blocks.scss */
.footer_nav_item {
  display: block;
  padding: 2.5px 0;
  line-height: 1.5;
}

/* line 60, ../sass/partials/_blocks.scss */
.copyright {
  font-size: 12px;
  margin-top: 15px;
  opacity: .5;
}

/* line 66, ../sass/partials/_blocks.scss */
.ft_block_header {
  display: block;
  clear: both;
  margin-bottom: 15px;
}

/* line 72, ../sass/partials/_blocks.scss */
.ft_block_title {
  font-size: 21px;
  margin: 0;
}

/* line 2, ../sass/partials/_cards.scss */
.small_full {
  width: 100%;
}

/* line 6, ../sass/partials/_cards.scss */
.small_half {
  width: 50%;
}

/* Mobile devices */
@media only screen and (min-width: 576px) {
  /* line 11, ../sass/partials/_cards.scss */
  .medium_1_2 {
    width: 50%;
  }

  /* line 14, ../sass/partials/_cards.scss */
  .medium_1_4 {
    width: 25%;
  }

  /* line 17, ../sass/partials/_cards.scss */
  .medium_1_3 {
    width: 33%;
  }

  /* line 20, ../sass/partials/_cards.scss */
  .medium_2_3 {
    width: 677%;
  }
}
/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 26, ../sass/partials/_cards.scss */
  .large_full {
    width: 100%;
  }

  /* line 30, ../sass/partials/_cards.scss */
  .large_2_3 {
    width: 67%;
  }

  /* line 33, ../sass/partials/_cards.scss */
  .large_1_2 {
    width: 50%;
  }

  /* line 36, ../sass/partials/_cards.scss */
  .large_1_3 {
    width: 33%;
  }

  /* line 39, ../sass/partials/_cards.scss */
  .large_1_4 {
    width: 25%;
  }

  /* line 42, ../sass/partials/_cards.scss */
  .large_1_5 {
    width: 20%;
  }
}
/* line 47, ../sass/partials/_cards.scss */
.flex_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
  align-items: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/partials/_cards.scss */
  .flex_list {
    margin: 0 -20px;
  }
}

/* line 58, ../sass/partials/_cards.scss */
.feature_item {
  padding: 20px 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 58, ../sass/partials/_cards.scss */
  .feature_item {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 66, ../sass/partials/_cards.scss */
.feature_wrapper {
  display: block;
  height: 100%;
  padding: 10px;
  width: 100%;
  position: relative;
}
/* line 73, ../sass/partials/_cards.scss */
.feature_block .feature_wrapper {
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 73, ../sass/partials/_cards.scss */
  .feature_block .feature_wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 81, ../sass/partials/_cards.scss */
.feature_icon {
  display: block;
  margin-bottom: 20px;
  height: 128px;
}
/* line 86, ../sass/partials/_cards.scss */
.feature_icon img {
  display: inline-block;
  width: auto;
  height: 100%;
}

/* line 93, ../sass/partials/_cards.scss */
.feature_title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: .002em;
  text-transform: uppercase;
  line-height: 1;
}
/* line 101, ../sass/partials/_cards.scss */
.feature_header .feature_title {
  margin-bottom: 0;
}

/* line 106, ../sass/partials/_cards.scss */
.feature_showcase {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-direction: column;
  position: relative;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 106, ../sass/partials/_cards.scss */
  .feature_showcase {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* line 120, ../sass/partials/_cards.scss */
.grp_header {
  display: block;
  clear: both;
  margin-bottom: 20px;
}

/* line 126, ../sass/partials/_cards.scss */
.title {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
}

/* line 132, ../sass/partials/_cards.scss */
.feat_info_col {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 132, ../sass/partials/_cards.scss */
  .feat_info_col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* line 141, ../sass/partials/_cards.scss */
  .feat_info_col.column_first {
    padding-right: 180px;
    text-align: right;
  }
  /* line 146, ../sass/partials/_cards.scss */
  .feat_info_col.column_last {
    padding-left: 180px;
  }
}

/* line 152, ../sass/partials/_cards.scss */
.feat_media_col {
  text-align: center;
  max-width: 200px;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 152, ../sass/partials/_cards.scss */
  .feat_media_col {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  /* line 152, ../sass/partials/_cards.scss */
  .feat_media_col {
    max-width: 350px;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    right: auto;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/* line 167, ../sass/partials/_cards.scss */
.feat_media_col img {
  width: 100%;
}

/* line 172, ../sass/partials/_cards.scss */
.app_features {
  *zoom: 1;
}
/* line 113, ../sass/partials/_mixins.scss */
.app_features:before, .app_features:after {
  content: "";
  display: table;
}
/* line 118, ../sass/partials/_mixins.scss */
.app_features:after {
  clear: both;
}

/* line 176, ../sass/partials/_cards.scss */
.feature_block {
  margin-bottom: 15px;
}
/* line 179, ../sass/partials/_cards.scss */
.feature_block p {
  color: rgba(53, 53, 53, 0.75);
}

/* line 184, ../sass/partials/_cards.scss */
.feature_header {
  margin-bottom: 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 184, ../sass/partials/_cards.scss */
  .feature_header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 190, ../sass/partials/_cards.scss */
  .column_first .feature_header {
    padding-right: 15px;
    box-shadow: inset -4px 0 #e23a40;
  }
  /* line 195, ../sass/partials/_cards.scss */
  .column_last .feature_header {
    padding-left: 15px;
    box-shadow: inset 4px 0 #00abdf;
  }
}

/* Dots */
/* line 2, ../sass/partials/_controls.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 6, ../sass/partials/_controls.scss */
.slick-dots {
  list-style: none;
  display: block;
  padding: 20px 15px 0;
  width: 100%;
}
/* line 12, ../sass/partials/_controls.scss */
.slick-dots button {
  display: block;
  height: 12px;
  width: 12px;
  padding: 0;
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  cursor: pointer;
}
/* line 23, ../sass/partials/_controls.scss */
.slick-dots button:hover, .slick-dots button:focus {
  outline: none;
}
/* line 28, ../sass/partials/_controls.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
/* line 33, ../sass/partials/_controls.scss */
.slick-dots li.slick-active button {
  border-color: transparent;
  background-color: #e23a40;
}

/* line 1, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: #e0edf9;
}

/* line 5, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 5px;
}

/* line 9, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
}

/* line 14, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(22, 21, 46, 0.95);
}
/* line 18, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 10px 15px;
  *zoom: 1;
  justify-content: flex-start;
  /* Tablets and phablets */
}
/* line 113, ../sass/partials/_mixins.scss */
.modal .modal-header:before, .modal .modal-header:after {
  content: "";
  display: table;
}
/* line 118, ../sass/partials/_mixins.scss */
.modal .modal-header:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 18, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding: 15px 30px;
  }
}
/* line 29, ../sass/partials/_dialogs.scss */
.modal .modal-title {
  font-size: 16px;
}
/* line 33, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 20px 15px;
  background: #ffffff;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 33, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding: 30px;
  }
}
/* line 42, ../sass/partials/_dialogs.scss */
.modal .content-panel {
  min-height: 250px;
}
/* line 46, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 10px 15px;
}

/* panels and accordions */
/* line 54, ../sass/partials/_dialogs.scss */
.panel {
  display: block;
}
/* line 57, ../sass/partials/_dialogs.scss */
.panel + .panel {
  margin-top: 1em;
}

/* line 62, ../sass/partials/_dialogs.scss */
.panel-title {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
/* line 68, ../sass/partials/_dialogs.scss */
.panel-title > a {
  display: block;
  padding-right: 25px;
}
/* line 72, ../sass/partials/_dialogs.scss */
.panel-title > a:hover, .panel-title > a:focus, .panel-title > a:visited {
  outline: none;
  color: inherit;
}
/* line 76, ../sass/partials/_dialogs.scss */
.panel-title > a:hover::after, .panel-title > a:focus::after, .panel-title > a:visited::after {
  visibility: visible;
  opacity: 1;
}
/* line 83, ../sass/partials/_dialogs.scss */
.panel-title > a::after {
  right: 0;
  top: 16px;
  opacity: 0;
  float: right;
  content: "+";
  font-size: 1em;
  position: absolute;
  visibility: hidden;
}
/* line 94, ../sass/partials/_dialogs.scss */
.panel-title > a.collapsed::after {
  content: "-";
}

/* line 100, ../sass/partials/_dialogs.scss */
.panel-heading {
  *zoom: 1;
  position: relative;
  padding: 15px 0;
}
/* line 113, ../sass/partials/_mixins.scss */
.panel-heading:before, .panel-heading:after {
  content: "";
  display: table;
}
/* line 118, ../sass/partials/_mixins.scss */
.panel-heading:after {
  clear: both;
}

/* line 106, ../sass/partials/_dialogs.scss */
.panel-body {
  padding: 10px 15px;
  line-height: 1.5;
  font-weight: 400;
}
