/*Home Showcase cards*/

.info_showcase {
    @include flexbox();
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
    
    @include MQ(M) {
        &.card_halfs {
            margin: 0 -50px;  
        }
    }
}

.showcase_card {
    padding: 15px;
    
    @include MQ(S) {
        width: 50%;
    }
    
    @include MQ(M) {
        .card_3rds & {
            width: calc(100% / 3);
        }
        
        .card_halfs &{
            width: 50%;
            padding: 20px 50px;
        }
    }
    
    .card_wrapper {
        border-radius: 10px;
        padding: 30px 30px 0;
        overflow: hidden;
        @include box-shadow(0 2px 10px rgba($border_grey_light, 1));
        
        .card_halfs & {
            padding: 30px;
        }
 
    }
    
    .card_image {
        width: 75%;
        margin: auto;
    }
    
    .card_caption {
        padding: 15px;
        position: absolute;
        width: 100%;
        left: 0; right: 0;
        bottom: 0;
        @include box-shadow(0 -1px 2px rgba($border_grey_dark, .75));
    }
}

.info_cards {
	clear: both;
    @include clearfix;
}

/* Horizontal list of churches*/

.list_card {
	display: block;
	padding: 15px 0;

	.new_item & {
		padding-bottom: 0;
	}

	.card_sm & {
		padding: 10px 0;
	}

	+ .list_card {
		border-top: 1px solid $border_grey_light;
	}
}

.card_wrapper {
	width: 100%;
	min-height: 50px;
	position: relative;
	display: block;
	height: 100%;

	.new_item &, .card_sm &, .credit_card & {
		min-height: auto;
	}
}

.item_image_wrapper {
	position: absolute;
	top: 0;

	+ .item_detail_wrapper {
		padding-left: 50px;

		.card_sm & {
			padding-left: 20px;
		}

		.credit_card &  {
			padding-left: 40px;
		}
	}
}

.item_image {
	display: block;
	overflow: hidden;
	height: 100%;
	padding: 4px;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: $border_grey_light;
	border: 2px solid $brand_primary;
	border-radius: 4px;

	.card_sm & {
		width: 20px;
		height: 20px;
		border: none;
	}

	.credit_card & {
		width: 40px;
		background-color: transparent;
		border: none;
		padding: 0;
	}

	.info_card & {
		width: 40px;
		height: 40px;
	}
}

.item_detail_wrapper {
	width: 100%;
}

.item_info {
	padding-left: 10px;

	.title {
		font-size: 14px;
	}
}

.info_header {
	@include clearfix;
	width: 100%;
}

.info_title {
	display: inline-block;
	cursor: pointer;

	.info_sub {
		font-size: 11px;
		padding-bottom: 5px;
	}

	@include MQ(M) {
		font-size: 16px;
	}

	.card_sm & {
		font-size: 13px;
	}

	.result_list &{
		width: 80%;
	}

	.schedule_list &{
		width: 90%;
	}
}

.title_text {
	display: block;
	font-size: 14px;
	@include text_truncate;
	color: $brand_primary;

	&:hover, &:focus{
		color: rgba($brand_primary, .8);
		text-decoration: underline;
		white-space: normal;
		overflow: visible;
	}

	&:visited {
		color: $brand_inverse;
	}
}

.info_action {
	background-color: $brand_inverse;
	border-radius: 4px;
	padding: 4px 11px;
	font-size: 11px;
	border: 2px solid transparent;
	color: $color_white;
	@include transition(all .6s ease-in-out);

	&.btn-md {
		padding: 5px 18px;
		font-size: 1em;
		line-height: 1.846;
	}

	.btn_icon::after {
		content: "\f067";
		font-family: "fontAwesome";
	}

	&:hover {
		background-color: rgba($brand_inverse, .8);
	}

	@include MQ(S) {
		.btn_label::after {
			content: "Follow";
			text-transform: capitalize;
		}

		.u_selected & {
			.btn_label::after {
				content: "Unfollow";
			}
		}
	}

	.u_selected & {
		background-color: transparent;
		border-color: $brand_inverse;
		color: $brand_inverse;

		.btn_icon::after {
			content: "\f00c";
		}

		&:hover {
			background-color: rgba($brand_inverse, .8);
			color: $color_white;
		}
	}
}

.info_action_btn {
	display: inline-block;
	float: right;
}

.date_box {
	width: 50px;
	height: 50px;
    text-align: center;
	color: $brand_primary;
	background-color: white;
    font-family: $header_font;
    text-transform: uppercase;
	border: 2px solid $brand_inverse;

	.box_wrapper {
        position: absolute;
        @include center(xy);

        > * {
        	display: block;
        }
    }

    .month, .year {
        font-size: 11px;
    }

    .day {
        font-size: 20px;
        line-height: 20px;
        padding: 0px 5px;
    }
}

/* Thumb list */

.thumb_list {
	@include clearfix;
	margin: 0 -5px;
}

.img_thumb {
	float: left;

	+ .img_thumb {
		padding-left: 5px;
	}
}

.thumb_wrapper {
    display: block;
    width: 40px;
	height: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    border: 2px solid transparent;
    background-color: lighten($border_grey_light, 1);

    .thumb_xs & {
    	width: 20px;
		height: 20px;
    }

    img {
    	height: 100%;
    }

    .new_item & {
    	border-color: $brand_inverse;
    }

    .more_item & {
    	background-color: $border_grey_light;
    }

    &:hover, &:focus {
        border-color: $brand_accent;
        border-width: 2px;
        color: $brand_accent;
        text-decoration: none;
    }
}

.item_pos {
    font-size: 20px;
    text-align: center;
    padding: 30px;
    vertical-align: middle;
    display: table;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .fa{display: block;}
    
    img {
        width: 96px;
        max-height: 96px;
    }

    .more_item & {
    	font-size: 14px;
    }
}

/* Church Cards */

.item_cards {
	@include flexbox();
	//flex-direction: column;
	flex-wrap: wrap;
	margin: 0 -15px;

	.pane_widget & {
		margin: 0;
	}

	@include MQ(S) {
		//flex-direction: row;
	}

	.card_wrapper {
		border: 1px solid $border_grey_light;
		transition: all, .5s, ease-in-out;
		overflow: hidden;

		&:hover, &:focus {
			border-color: $border_grey;
			box-shadow: 0 1px 4px $border_grey;
		}
	}

	.banner_overlay {
		background-color: rgba($brand_primary, .6);
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 3;
		top:0; left:0;
	}
}

.info_card {
	width: 280px;
	padding: 0 15px;
	margin: 15px auto;
	min-height: 215px;

	@include MQ(M) {
		width: 290px;
		margin-right: 0;
		margin-left: 0;
	}

	.card_wrapper {
		border-radius: 10px;
		background-color: white;
		
		
		&:hover, &:focus {

			.banner_btns {
				visibility: visible;
				height: 40px;
				opacity: 1;
			}
		}
	}
}

.card_banner {
	position: relative;
	border-bottom: 1px solid $brand_primary;

	.banner_caption {
		position: absolute;
		width: 100%;
		z-index: 5;
		@include center(y);
		padding: 0 10px;

		.subtitle {
			font-size: 10px;
		}
	}

	.banner_image {
		margin-right: 10px;
	}

	.banner_details {
		padding: 0;
	}

	.banner_btns {
		padding-top: 10px;
		visibility: hidden;
		height: 0;
		opacity: 0;
		@include transition(all, .4s, ease-in-out);
	}

	.banner_title {
		font-size: 15px;
		padding-bottom:5px;
	}
}

.card_banner_img {
	position: relative;
	z-index: 2;
	height: 140px;
	display: block;

	img {
		position: absolute;
		top: 0; left: 0;
		right: 0; bottom: 0;
		width: 100%;
		height: 100%;
	}
}

.card_details {
	padding: 15px 10px;
}

.card_control {
	position: absolute;
	top: 10px;
	right: 5px;
}

.address_card {
	width: 100%;

	+ .address_card {
		padding-top: 5px;
	}

	.card_wrapper {
		border-radius: 6px;
		padding: 10px 15px;
		cursor: pointer;

		&:hover, &:focus {
			.banner_overlay {
				opacity: 1;
				visibility: visible;
				@include transition(opacity 1s ease-in-out);
			}
		}
	}

	.banner_overlay {
		background-color: rgba($brand_primary, .85);
		opacity: 0;
		visibility: hidden;
		@include transition(opacity 1s ease-in-out);
	}

}

.overlay_controls {
	z-index: 5;
	color: $color_white;
	position: absolute;
	width: 100%;
	text-align: center;
	@include center(y);
}

.control_item {
	display: inline-block;

	a {
		padding: 5px 10px; 
		border-radius: 15px;
		font-size: 12px;
		display: block;
		border: 2px solid transparent;	

		&:hover {
			border-color: $brand_accent;
		}
	}
}

.addr_field {
	display: block;
	font-size: 11px;
	line-height: 150%;

	&.addr_title {
		font-size: 12px;
	}
}

.field_sub {
	+ .field_sub::before {
		content: "-";
		padding: 0 4px;
	}
}

/* Offering Cards */

.offering_card {
	.card_wrapper {
		border-width: 2px;
		border-radius: 4px;
	}

	.card_details {
		padding: 15px;
	}
}

.card_rows {
	@include clearfix;

	.title {
		font-size: 15px;
		max-width: 90%;
	}

	+ .card_rows {
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px solid $border_grey;
	}
}

.row_icon {
	width: 25px;
	float: left;
	font-size: 16px;
	text-align: center;
}

.row_detail {
	padding-left: 30px;

	.meta_label, .meta_value {
		display: block;
		text-align: left;
	}

	.meta_value {
		font-size: 18px;
	}
	
	.meta_label {
		font-weight: normal;
		font-size: 10px;
	}
}

/* Media Card on admin dashboard */

.card_cloacked {
	padding: 10px; 
	border-radius: 4px;
	background-color: rgba(black, .2);
}

.media_card {
    display: flex;
    position: relative;
    
    a {
        color: inherit;
    }
}

.media_image_holder {
    width: 45px;
    height: 45px;
        
    + .media_info {
        padding-left: 10px;
    }
    
    .media_sm & {
        width: 30px;
        height: 30px;
    }
}

.media_image {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    
    &.media_circle {
        border-radius: 50%;
    }
    
    img {
        width: 100%;
        margin: auto;
    }
}

.text_label {
    font-size: 11px;
    @include text_truncate;

    .new_item &{
    	display: block;
    	padding-top: 5px;
    	font-size: 12px;
    }
}

.media_title {
    font-size: 16px;
    margin-bottom: 2.5px;
    
    .media_sm & {
        font-size: 14px;
        font-weight: normal;
    }
}

.info_widget {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
}

.widget_item {
	width: 50%;
	flex-grow: 1;
	padding: 0 15px;

	@include MQ(M) {
		width: auto;
		+ .widget_item {
			border-left: 1px solid $border_grey;
		}
	}

	.widget_value, .widget_label {
		display: block;
		clear: both;
		text-align: center;
	}
}

.widget_value {
	font-size: 35px;
}

.widget_label {
	text-transform: uppercase;
	font-size: 10px;
}