.wizard_nav {
    width: 100%;
    z-index: 200;
	background-color: $off_white;
	border-bottom: 1px solid $border_grey;

    &.nav_fixed {
        position: fixed;
        top: $header-height-S;

        @include MQ(M) {
            top: $header-height-M;
        }
    }
}

.step_nav {
    @include flexbox();
    @include clearfix;
    justify-content: center;

    .view_header & {
        border-bottom: none;
    }
}

.wizard_step_nav {
	list-style: none;
    counter-increment: steps;

    .view_nav & {
        flex-grow: 1;
        text-align: center;
        
        a {
            pointer-events: auto;
            font-size: 13px;
        }
    }

	a {
		display: block;
		padding: 10px;
        font-size: 11px;
        height: 100%;
        letter-spacing: .1em;
        color: $color_grey_dark;
        pointer-events: none;

        &:hover, &:focus {
            color: $color_text;

            .badge {
                background-color: $brand_accent;
            }
        }
	}

    .badge {
        display: none;

        @include MQ(S) {
            display: inline-block;
        }
    }

	+ .wizard_step_nav {
		border-left: 1px solid $border_grey;
	}

	&.done a {
		color: $color_text;
		background-color: white;
		pointer-events: auto;
	}

	&.active a {
		background-color: $brand_primary;
		color: $color_white;

        .view_nav & {
            text-transform: uppercase;
        }

        .badge {
            background-color: $brand_accent;
        }
	}
}

.step_count {
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid $border_grey_dark;
    border-radius: 50%;
    line-height: 13px;
    font-size: 10px;
    padding: 0;
    margin-right: 5px;

    .active & {
    	border-color: $color_white;
    }

    .done & {
        background-color: green;
        color: $color_white;

        &::before {
            font-family: "fontAwesome";
            content: "\f00c";
        }
    }

    &::before {
        content: counter(steps);
    }
}

.step_label {
	display: inline-block;
    padding-top: 5px;

    @include MQ(S) {
        padding-top: 0;
    }
}

.step_heading {
	clear: both;
	padding: 20px 0;
	border-bottom: 1px solid $border_grey;

    .title {
        text-transform: uppercase;
        font-size: 20px;
    }

	.subtitle {
		font-size: 12px;
		margin-bottom: 5px;
	}
}

.wiz_step {
    overflow: hidden;

    .step_body {
        padding: 0 0 30px;
        display: none;
    }

    .wizard_body & {
        display: none;

        .step_body {
            padding: 20px 0;
        }

        + .wiz_step {
            border: none;
        }

        &.step_active {
            display: block;
        }
    }

    &.step_active {
        .step_body {
            display: block;
        }
    }
}

.step_body {
	padding-top: 20px;
	clear: both;
	overflow: hidden;
}

.icon_holder {
	display: block;
	margin: auto;
	overflow: hidden;
	margin-bottom: 10px;
    width: 96px;

	img {
		width: 100%;
	}

	&.icon_md {
		width: 75px;
	}

    &.icon_circle {
        border: 2px solid $brand_inverse;
        border-radius: 50%;
    }

    &.icon_lg {
        width: 128px;
    }
}

.wizard_body {
    padding: 30px 0;
}

.step_form {
    max-width: 600px;
    margin: 10px auto;

    .pane_title {
        font-size: 22px;
        padding: 0;
    }
}

/* filter */

.filter_widget {
	padding: 10px 0 20px;
	clear:both;
	@include clearfix;
}

.widget_btn {
    padding-top: 20px;
}

.search_tray {
	padding-bottom: 20px;
}

.result_label{
	font-size: 14px;
	display: inline-block;

	.bracket_enclosure {
		font-style: italic;
	}
}

.select_preview {
	clear: both;
	padding-top: 15px;
}

.selected_item {
	display: inline-block;
	padding: 2.5px;

	.item_wrapper {
		background-color: $border_grey_light;
		border-radius: 15px;
		padding: 5px 12px;
		display: block;

		&.cls_filter {
			border: 1px solid $border_grey;
			font-size: 10px;
			background-color: transparent;

			&:hover, &:focus {
				background-color: rgba($brand_inverse, .3);
			}
		}
	}

	.item_label {
		font-size: 10px;
		font-family: $header_font;
	}
}

.item_dismiss {
	display: inline-block;
	height: 15px;
	width: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	background-color: $color_text;
	color: $color_white;
	cursor: pointer;
	font-weight: bold;

	&:hover {
		background-color: $brand_accent;
	}

	.fa {
		padding: 0;
		line-height: 1;
	}
}

.filter_block {
    display: inline-block;
    width: 120px;

    + .filter_block {
        padding-left: 10px;
    }

    img {
        display: inline-block;
        position: absolute;
        right: 0px;
    }

    .filter_control {
        font-family: $header_font;
        position: relative;
        display: block;
        border-radius: 3px;
        padding: 5px 0;
        color: $color_grey_light;
        //background-color: lighten($border_grey_light, 5);

        &:hover, &:focus {
            text-decoration: none;
            color: $brand_primary;
        }
    }

    &.filter_actions {
    	float: right;
    	width: auto;
    }

    &.search_bar {
        width: auto;
        
        @include MQ(M) {
            float: right;
            max-width: 220px;
        }
    }
}

.user_control {

    .control {
        display: inline-block;
        margin: 0;
        vertical-align: bottom;

        a:not(.btn) {
            display: block;
            padding: 5px;
            font-size: 14px;
            border:1px solid $border_grey;
            border-radius: 4px;

            &:hover {
                background-color: $border_grey_light;
            }
        }

        + .control {
            margin-left: 5px;
        }
    }
}

/* pager */

.pager {
    display: block;
    @include clearfix;

    >* {
        vertical-align: middle;
        display: inline-block;
    }

    .count_details {
        float: left;
    }

    .pager_nav {
        float: right;
    }
}

.pager_nav {
    .pager_item {
        display: inline-block;
        float: left;

        &.active a {
            pointer-events: none;
            text-decoration: underline;
            color: $brand_inverse;
        }
    }

    a {
        display: block;
        padding: 5px 10px;;

        &:hover {
            color: $brand_accent;
        }
    }
}

.count_details {
    display: inline-block;
    font-size: 11px;

    strong {
        font-size: 12px;
        padding-right: 2px;

        + strong::before {
            content: "to";
            padding: 0 4px;
        }
    }
}

/* Media Upload */

.file_upload {
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        + label {
            color: $brand_primary;
            cursor: pointer;
            padding: 6px 12px;
            border-radius: 4px;
            background-color: transparent;
            border: 1px solid $border_grey_dark;
            display: inline-block;
            @include transition(all, .6s, ease-in-out);
        }

        &:focus {
            outline: 1px dotted $brand_accent;
            outline: -webkit-focus-ring-color auto 5px;
        }

        &:focus + label, + label:hover {
            background-color: rgba($brand_primary, .8);
            color: $color_white;
            border-color: transparent;
        }
    }
}

.media_uploader {
    @include clearfix;
    margin-bottom: 10px;

    &.is_flex {
        @include flexbox();
        flex-wrap: wrap;
        justify-content: center;
    }

    .upload_control {
        padding-left: 15px;

        @include MQ(M) {
            padding-left: 30px;
            padding-top: 20px;
        }
    }

    .media_item {
        border: none;
        display: inline-block;
        padding: 0;
        
    }
}

.media_thumb {
    position: relative;
    background-color: $border_grey_light;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
    height: 100%;

    img {
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0; right: 0;
    }

    &.thumb_circle {
        border-radius: 50%;
    }
}

.media_small {
    width: 100px;
    height: 100px;

    + .media_large {
        float: right;
    }
}

.media_large {
    width: 100%;
    height: 128px;

    &.media_item {
        width: 63%;
    }
}

.action_links {
    padding-top: 20px;

    a {
        display: inline-block;
		float: left;;
        padding: 0 10px;
        text-decoration: underline;

        .pane_call_out & {
            font-weight: 600;
            color: $brand_accent;
        }

        + a {
            border-left: 1px solid $border_grey_dark;
        }
    }
}

/* List control with custoom marker */

.list_item {
    @include flexbox();
    padding: 2.5px 0;

    .list_text {
        padding: 0;
    }

    .pane_body & {
        font-size: 12px;
    }

    &.new_item {
        padding: 5px 8px;
        border-radius: 4px;
        border: 2px solid $brand_primary;
        margin-top: 10px;

        &:hover, &:focus {
            color: $color_white;
            border: none;
            background-color: $brand_primary;
            color: $brand_accent;
        }
    }
}

.list_img {
    padding-right: 5px;

    &::after {
        content:"";
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        background-image: url(../img/list_marker.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}