
.pt {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'paytithe_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pt-add_church:before {
  content: "\e900";
}
.pt-church:before {
  content: "\e902";
}

.pt-donate:before {
  content: "\1f394";
}
.pt-naira:before {
  content: "\e901";
}


/* SVG Icon systems */

.cust_icon {
  display: inline-block;
  width: 68px;
  height: 68px;
  overflow: hidden;

  img, svg {
    display: block;
    width: 100%l;
  }

  &.icon_xs {
      width: 30px;
      height: 30px;
  }
  
  &.icon_sm {
      width: 48px;
      height: 48px;
  }
}

/* Logo Text */

.user_title {
    font-size: 14px;

    @include MQ(M) {
        font-size: 16px;
    }

    img, .logo_text {
        width: 100px;
        display: inline-block;
        vertical-align: middle;
    }
}

.logo_text {
    max-width: 150px;
    
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .brand_name {
        fill: $brand_primary;
    }
    
    &.color-white {   
        .brand_name {
            fill: $color_white;
        }
    }
}