.dropdown-menu {
    padding: 0;
    font-size: 1em;
    z-index: 2000;

    &.dropdown-right {
        left: auto;
        right: 0;
    }

    li {
        display: block;
        padding: 0;
        margin:0;

        &.active > * {
            background: $brand_accent;
            color: $color_white;
        }

        > * {
            padding: 10px;
            font-size: 11px;
            display: block;
            color: $color_text;
            text-transform: uppercase;
            line-height: normal;

            &:hover {
                background: $border_grey_light;
                color: $brand_accent;
            }
        }
    }

    .radio, .checkbox {
        margin: 0;
    }

    &.datepicker {
        padding: 10px 15px;

        .prev, .next {
            color: $color_text;
            font-size: 15px;
            padding: 0 10px;
            font-weight: bold;
            background-color: rgba($border_grey_light, .5);
        }

        .datepicker-switch {
            color: $brand_accent;
        }

        .dow {
            color: $color_grey_dark;
            font-family: $header_font;
        }
    }
}

.modal-backdrop {
    background-color: $brand_primary;
    z-index: 0;
}

.modal-content {
    border-radius: 0;
}

.modal {

    .modal-open & {
        background-color: rgba($brand_primary, .85)
    }

    .modal-header {
        border-bottom: none;
        padding: 10px 15px;
        @include clearfix;

        @include MQ(M) {
            padding: 15px 30px;
        }
    }

    .modal-title {
        font-size: 16px;
    }

    .close {
        right: 15px;
        opacity: 1;
        text-shadow: none;
        @include transition(background-color, 1s);
        padding: 0;
        top: 10px;
        position: absolute;

        span {
            right: 0;
            width: 15px;
            height: 20px;
            padding: 0;
            top: 5px;
            position: absolute;
        }

        .modal_close {
            background: url(../img/modal_close.png) left bottom no-repeat;
            display: block;
        }

        &:hover {
            text-decoration: none;
            opacity: .8;
        }
    }

    .modal-body {
        position: relative;
        padding: 0;

        &.info_details {
            padding: 20px 15px;
            display: block;

            @include MQ(M) {
                padding: 30px;
                font-size: 13px;
            }
        }
    }

    .content-panel {
        padding: 0 15px 10px;

        @include MQ(M) {
            padding: 0 30px 15px;
        }
    }

    .modal-footer {
        background: $color_white;
        border-top: 1px solid $border_grey_light;
        padding: 10px 15px;
    }
}

.info_details {
    @include MQ(M) {
        display: flex;
    }

    .page_main {
        line-height: 175%;
    }
}

/* User Profile card */

.profile_info_card {
    .modal-dialog {
        max-width: 400px;

        @include MQ(M) {
            margin-top: 120px;
        }
    }

    .modal-content {
       border-radius: 17px; 
    }
}

.profile_image {
    width: 100px;
    height: 100px;
    background-color: $color_white;
    margin: 0 auto 7.5px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_details {
    .title {
        font-size: 18px;
        font-weight: 600;
        font-family: $header_font;
        padding-bottom: 0;
    }

    .info_meta {
        padding-top: 5px;
        color: $border_grey_light;
        font-size: 1em;
    }

    .btn {
        min-width: 150px;
        clear: both;
        margin-top: 15px;
    }
}

/* site table layout */

.post_table {
    width: 100%;
    overflow: auto;
    margin-bottom: 0;
    min-height: 200px;

    > .table {
        min-width: 480px;
    }

    thead {
        border-bottom: 3px solid $border_grey_dark;

        > tr {
            th {
                font-weight: normal;
                font-family: $body_font;
                text-transform: uppercase;
                border-bottom: none;
                padding: 5px 0;
                color: $border_grey_dark;
            }
        }
    }

    tbody > tr {
        > td {
            padding: 10px 0;
            font-size: 11px;
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $brand_accent;
            text-decoration: underline;
        }
    }

    .highlight {
        width: 240px;

        a {
            font-family: $header_font;
            font-weight: 700;
        }
    }
}

.info_pane {
    position: absolute;
    left: 0;
    @include center(y);

    @include MQ(M) {
        min-width: 650px; 
        @include center(xy);
    }

    .pane_wrapper {
        background-color: rgba(white, .8);
        border-radius: 10px;
        padding: 15px;
        width: 100%;
        height: 100%;
        
        @include MQ(M) {
            padding: 40px;
        }
    }

    .subtitle {
        padding: 15px 0;
    }
}

.pane_call_out {
    padding: 10px 0;
}

/*panels and accordions*/

.panel {
    margin: 0;
	display: block;
	box-shadow: none;
	border: none;
	border-radius: 0;
    background-color: transparent;
    
    &[class*=list_] {
        .panel-body {
            padding: 15px 0;
        }
    }

    &.sp_list_item {
        .panel-body {
            background-color: lighten($border_grey_light, 7.5);
            padding: 10px 15px;
            margin-left: 30px;
        }
    }
    
    + .panel {
        margin-top: 1em;
    }
}

.panel-title {
    width: 100%;

    > a {
        display: block;
        color: inherit;

		&:hover, &:focus, &:visited {
			color: inherit;
		}

        &::before, &::after {
            font-family: 'FontAwesome';
        }

        &::after {
            float: right;
            content: "\f0d7";
            font-size: 1em;
            color: $brand_accent;
        }

        &.collapsed::after{
            content: "\f0da ";
        }

    }

    .title {
        display: inline-block;
        @include text_truncate;
        max-width: 90%;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
}

.panel-heading {
    @include clearfix;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid $border_grey;
}

.panel-body {
    padding: 10px 0;
}

/* Request Lists */

.sp_list_item {
    display: block;
    clear: both;
    position: relative;
    
    + .sp_list_item {
        border-top: 1px solid lighten($border_grey_light, 1.5);
    }
}

.list_wrapper {
    padding: 10px 0 10px 20px;

    @include MQ(S) {
        @include flexbox();
        padding-left: 30px;
    }

    &::before {
        content: "\f105";
        font-family: "fontAwesome";
        font-size: 1.2em;
        position: absolute;
        left: 0;

        @include MQ(M) {
            font-size: 1.5em;
        }

        .list_done & {
            content: "\f046";
            color: green;
            font-size: 1.3em;
        }
    }
}

.list_controls {
    padding-top: 10px;

    @include MQ(S) {
        text-align: right;
        padding-top: 0;
        padding-left: 10px;
        width: 150px;
    }
}

.list_text {
    padding:  5px 0;
    .list_done & {
        text-decoration: line-through;
        color: $color_grey_dark;
    }
}

.control_alt {
    * + * {
        margin-left: 1em;
    }
}

.list_segment {
    display: block;
    padding: 15px 0;

    .title {
        padding: 10px 0;
        font-family: $body_font;
        font-size: 14px;
        text-transform: capitalize;
    }

    + .list_segment {
        border-top: 1px solid $border_grey;
    }
}

/* Payment Card images */

.card_type_icon  {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 25px;

    .card_visa & {
        background-image: url(../img/icons/visa.png);
    }

    .card_master & {
        background-image: url(../img/icons/master.png);
    }

    .card_amex & {
        background-image: url(../img/icons/amex.png);
    }

    .card_discover & {
        background-image: url(../img/icons/discover.png);
    }

    .card_verve & {
        background-image: url(../img/icons/verve.png);
    }
}
