
.dropdown-menu {
    padding: 0;
    font-size: 1em;
    z-index: 2000;

    &.dropdown-right {
        left: auto;
        right: 0;
    }

    li {
        display: block;
        padding: 0;
        margin:0;

        &.active > * {
            background: $brand_accent;
            color: $color_white; 
        }

        > * {
            padding: 10px;
            font-size: 11px;
            display: block;
            color: $color_text;
            text-transform: uppercase;
            line-height: normal;

            &:hover {
                background: $border_grey_light; 
                color: $brand_accent;
            }
        }
    }

    .radio, .checkbox {
        margin: 0;
    }
    
    &.datepicker {
        padding: 10px 15px;

        .prev, .next {
            color: $color_text;
            font-size: 15px;
            padding: 0 10px;
            font-weight: bold;
            background-color: rgba($border_grey_light, .5);
        }

        .datepicker-switch {
            color: $brand_accent;
        }

        .dow {
            color: $color_grey_dark;
            font-family: $header_font;
        }
    }
}

.modal-backdrop {
    background-color: $brand_primary;
    z-index: 0;
} 

.modal-content {
    border-radius: 0;
} 

.modal {

    .modal-open & {
        background-color: rgba($brand_primary, .85)
    }

    .modal-header {
        border-bottom: none;
        padding: 10px 15px;
        @include clearfix;

        @include MQ(M) {
            padding: 15px 30px;
        }
    }

    .modal-title {
        font-size: 16px;
    } 

    .close {
        right: 15px;
        opacity: 1;
        text-shadow: none;
        @include transition(background-color, 1s);
        padding: 0;
        top: 10px;
        position: absolute;

        span {
            right: 0;
            width: 15px;
            height: 20px;
            padding: 0;
            top: 5px;
            position: absolute;
        }
        
        .modal_close {
            background: url(../img/modal_close.png) left bottom no-repeat;
            display: block;
        }

        &:hover {
            text-decoration: none;
            opacity: .8;
        }
    }

    .modal-body {
        position: relative;
        padding: 0;

        &.info_details {
            padding: 20px 15px;
            display: block;

            @include MQ(M) {
                padding: 30px 40px;
                font-size: 13px;
            }
        }
    }
    
    .content-panel {
        padding: 0 15px 10px;

        @include MQ(M) {
            padding: 0 30px 15px;
        }
    }

    .modal-footer {
        background: $color_white;
        border-top: 1px solid $border_grey_light;
        padding: 10px 15px;
    }
}

.info_details {
    
    @include MQ(M) {
        display: flex;
    }

    .page_main {
        font-size: 13px;
        line-height: 175%;
        letter-spacing: 0.05em;
    }
}

.info_panel {
    .panel-body {
        background-color: lighten($border_grey_light, 7.5);
    }

    &.sp_list_item {
        .panel-body {
            margin-left: 30px;
        }
    }
}

/* site table layout */

.post_table {
    width: 100%;
    overflow: auto;
    margin-bottom: 0;

    > .table {
        min-width: 480px;
    }

    thead {
        border-bottom: 3px solid $border_grey_dark;

        > tr {
            th {
                font-weight: normal;
                font-family: $body_font;
                text-transform: uppercase;
                border-bottom: none;
                padding: 5px 0;
                color: $border_grey_dark;
            }
        }
    }

    tbody > tr {
        > td {
            padding: 10px 0;
            font-size: 11px;
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $brand_accent;
            text-decoration: underline;
        }
    }

    .highlight {
        width: 220px;
        font-size: 13px; 
        color: darken($color_text, 5);
    }
}

.info_pane {
    width: 100%;
    min-height: 300px;
    padding: 15px;
    border: 1px solid $border_grey_light;
    border-radius: 4px;

    @include MQ(M) {
        padding: 40px;
    }

    .subtitle {
        padding: 15px 0;
    }

    p {
        max-width: 400px;
        margin: 0 auto;
    }
}

.pane_call_out {
    padding: 10px 15px;
}