/*Main Site Nav */

header[role="banner"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height-S;
    z-index: $header-zindex;
    box-shadow: 0 1px 3px rgba($border_grey, .3);
    @include font-smoothing;

    + .st-content {
        padding-top: $header-height-S;
    }

    @include MQ(M) {
        height: $header-height-M;

        + .st-content {
            padding-top: $header-height-M;
        }
    }
}

.nav_header {
    background: rgba(white, .9);
    font-family: $body_font;

    .sec_nav {
        line-height: 40px;
    }

    .logo {
        line-height: 40px;
        display: inline-block;
    }

    @include MQ(M) {
        position: absolute;

        .logo {
            float: left;
            height: 100%;
            line-height: $header-height-M;
        }

        .sec_nav {
            line-height: $header-height-M;
            display: inline-block;
        }
    }

    @include MQ(L) {
        @include transition(background-color .5s);
        /* Force Hardware Acceleration in WebKit */
        @include transform(translate3d(0,0,0));
        @include backface-visibility(hidden);

        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -$header-height-M;
            background-color: rgba($color_white, .96);
            @include transition(transform .5s);
            border-bottom: 1px solid $border_grey;
        }

        &.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            @include transform(translate3d(0,$header-height-M,0));
        }
    }
}

.nav_item {
    display: inline-block;
}

.sec_nav {
    > ul {
        margin-bottom: 0;
        display: block;

        + ul {
            margin-left: 30px;
        }
    }

    @include MQ(M) {
        float: right;

        > ul {
            display: inline-block;
        }
    }
}

.nav_link_item {
    display: block;
    padding: 0 .5em;
    color: $brand_accent;
    letter-spacing: .05px;
    text-transform: uppercase;

    &.collapsibile {
        font-size: 13px;
        color: $color_text;

        &::after {
            content: attr(data-title);

            @include MQ(S) {
                content: "";
            }
        }

        .long_text {
            display: none;
            
            @include MQ(S) {
                display: block;
            }
        }
    }

    @include MQ(M) {
        font-size: 14px;
        padding: 0 1em;
    }

    .fa { 
        color: $border_grey_dark;
    }

    &:hover, &:focus, .active & {
        color: $brand_accent;
        box-shadow: inset 0 -3px 0 $brand_accent;
    }
}

.nav_btn {
    background-color: $brand_primary;
    color: $color_white;
    font-size: 12px;
    text-transform: none;
    font-family: $body_font;
    padding: 5px 12px;
    border-radius: 4px;

    .account_info & {
        padding: 10px 15px;
        background-color: transparent;
        color: $brand_primary;
    }
    
    .active &, &:hover, &:focus {
        background-color: darken($brand_primary, 5);
        color: $brand_inverse;
        border-color: transparent;
    }
}

.logo {
    height: 100%;
    width: 120px;
    margin-right: 15px;

    > a {
        display: block;
        background: transparent url(../img/logo.png) no-repeat center center;
        padding: 0;
        background-size: contain;
        font-size: 16px;
        @include image_replacement;
    }
}

.accounts {
    .profile_img {
        overflow: hidden;
        margin-right: 5px; 

        img {
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
        }
    }

    .fa {
        color: inherit;
        padding: 0;
    }

    .profile_name {
        display: none;
        visibility: hidden;
    }

    .dropdown-menu {
        border-radius: 0 0 4px 4px;
        margin-top: 0px;
        padding: 0;
        border: none;

        .fa {
            padding-right: 5px;
        }

        a {
            color: inherit;
            padding: 7.5px 20px;
        }
    } 

    @include MQ(S) {
        .profile_name {
            display: inline-block;
            visibility: visible;
        }
    }
}

.account_info {
    position: absolute;
    top: 0;
    right: 15px;

    .dropdown-menu {
        min-width: 170px;
    }

    > li {
        display: inline-block;
    }

    @include MQ(M) {
        position: static;
    }
}