%hero_background {
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: auto;
    z-index: 1;
}

.hero_section {
    @extend %hero_background;
    
    @include MQ(M) {
        min-height: 550px;
    }
}

.user_hero {
    background-image: url(../img/banners/user_hero_banner.jpg);
    background-position: bottom center;
}

.church_hero {
    background-image: url(../img/banners/church_banner.jpg);
}

.app_block {
    background-image: url(../img/banners/user_support_bg.jpg);
}

.newsletter {
    background-image: url(../img/banners/newsletter.jpg);
    background-position: center;
}


[class*="bg_"] {
    background-repeat: repeat;
    background-size: 250px;
}

.bg_weed {
    background-image: url(../img/banners/weed.png);
}

.bg_bubbles {
    background-image: url(../img/banners/bubbles.png);
}

.bg_triangles {
    background-image: url(../img/banners/triangles.png);
}

.bg_guaz {
    background-image: url(../img/banners/guaz.png);
}

.hero_tiles {
    @include flexbox();
    flex-direction: column;
    flex-wrap: wrap;

    @include MQ(M) {
        flex-direction: row;
    }
}

.tile {
    @include MQ(M) {
        flex: 1;
        height: 460px;
    }

    .tile_wrapper {
        height: 100%;
        padding: 30px 15px;

        @include MQ(M) {
            padding: 30px 50px;
        }

        &::before {
            content: "";
            top: 0; bottom: 0;
            left: 0; right: 0;
            width: 100%; 
            height: 100%;
            position: absolute;
        }
    }
}

.tile_wrapper {
    display: block;
    padding: 30px 15px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    .intro-text {
        padding: 0;
    }

    @include MQ(M) {

        .intro-text { 
            width: 450px;
            position: absolute;
            @include center(xy);
        }
    }

    .tile_left & {
        background-color: $brand_inverse;
        background-image: url(../img/banners/user_banner.jpg);

        &::before {
            background-color: rgba($brand_inverse, .85);
        }
    }

    .tile_right & {
        background-color: $color_white;
        background-image: url(../img/banners/church_banner.jpg);

        &::before {
            background-color: rgba($border_grey, .85);
        }
    }

    .banner_text {
        position: relative;
        z-index: 5;
    }
}

.banner_cto {
    padding: 15px 0 10px;
}

.banner_text {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.intro-text {
    max-width: 450px;
    padding: 40px 0;
    margin: auto;

    .subtitle {
        margin: 10px auto;
    }
    
    @include MQ(M) {
        padding: 120px 0;
        margin:0;

        &.right_aligned {
            float: right;
        }

        .subtitle {
            margin: 15px auto 25px;
        }
    }
}

.subtitle {
    font-size: 15px;
    line-height: 1.5em;
}

.title-text {
    font-size: 21px;

    @include MQ(M) {
        font-size: 35px;
    }
}

.flex_tiles {
    @include flexbox();
    flex-wrap: wrap;
    flex-flow: column;

    @include MQ(M) {
        flex-flow: row;
    }
}

.home_boxes {
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 3px solid $border_grey_light;


    &.box_first {
        background-color: $color_white;
    } 
    
    &.box_second {
        background-color: rgba(white, .8);
        background-image: url(../img/banners/guaz.png);
        background-repeat: repeat;
        background-size: 200px;
    } 

    .tile_wrapper {
        min-height: 160px;
    }

    .tile_text {
        padding-top: 20px;
        font-size: 16px;
        font-family: $header_font;
    }

    &.box_app {
        background-image: url(../img/banners/app_download_bg.jpg);
        
        @include MQ(M) {
            border-right: 3px solid $border_grey_light;
        }
    }

    @include MQ(M) {
        width: 33.333%;
        border-top: none;
        border-left: 3px solid $border_grey_light;
    }
}

.app_btns {
    padding-top: 15px;
}

.call_out {
    > * + * {
        margin-top: 15px;
    }
}

.call_out_headline {
    font-size: 35px;
}

/*  */

.info_banner {
    width: 100%;
    padding: 20px 0;
    position: relative;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-color: $brand_primary;

    > .container {
        position: relative;
        z-index: 4;
    }

    .banner_caption {
        padding: 20px 0;

        @include MQ(M) {
            padding: 70px 0;
        }
    }
    
    &.offering_banner {
        min-height: 270px;
        background-image: url(../img/banners/offering_default.jpg);
    }

    .banner_image {
        height: 96px;
        margin-right: 10px;

        @include MQ(M) {
            height: 128px;
            margin-right: 30px;
        }
    }
}

.overlay_pattern {
    background: black url(../img/circles-main.png) repeat;
    position: absolute;
    display: block;
    top: 0;
    opacity: .35;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    z-index: 1;
}

.offering_banner {
    .banner_caption {
        position: absolute;
        left: 0; right: 0;
        bottom: 0;
        background-color: rgba($brand_primary, .8);
        padding: 10px 15px;
    }
}

.banner_caption {
    display: flex;
}

.banner_details {
    padding-top: 10px;

    @include MQ(M) {
        .subtitle {
            font-size: 15px;
        }
    }
}

.banner_btns {
    padding-top: 15px;

    > * + * {
        margin-left: 1em;
    }
}

.banner_title {
    letter-spacing: 0.05em;

    @include MQ(M) {
        .info_banner & {
            font-size: 35px;
            line-height: 40px;
        }
    }
}