a {
    text-decoration: none;
    opacity: 1;
    @include transition(all, .4s, ease);
    color: inherit;

    &:hover, &:focus {
        color: inherit;
        opacity: .85;
    }

    > i {
        padding: 0 4px;
    }

    &:focus {
      outline: thin dotted $brand_accent;

      .no-touch & {
        outline: none;
      }
    }
}

a:link, button {
    -webkit-tap-highlight-color: rgba($brand_accent, .6);
    -moz-tap-highlight-color: rgba($brand_accent, .6);
}

.btn, a.btn {
    box-shadow: none;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    color: $color_white;
    padding: 5px 18px;
    text-transform: uppercase;
    @include border-radius(3px);
    @include transition(all, .6s,ease);
    @include background-image(none);

    + .btn {
        margin-left: .75em;
    }
    
    &.btn-rounded {
        @include border-radius(25px);
        padding: 6px 24px;
    }

    &.btn-primary {
        background-color: $brand_primary;
        @include background-image(none);

        &:hover, &:focus {
            background-color: darken($brand_primary, 5);
        }
    }

    &.btn-secondary {
        background-color: $brand_accent;
        @include background-image(none);

        &:hover, &:focus {
            background-color: darken($brand_accent, 5);
        }
    }

    &.btn-primary-outline {
        border: 2px solid $border_grey;
        color: $color_text;
        @include background-image(none);

        &:hover, &:focus {
            background-color: $brand_primary;
        }
    }

    &.btn-outline-secondary {
        background-color: transparent;
        border: 2px solid $brand_accent;
        color: $brand_primary;

        &:hover, &:focus {
            background-color: $brand_accent;
        }
    }

    &.info_btn {
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: $brand_inverse;
        border: 1px solid $brand_inverse;
        border-radius: 50%;

        &.accordion-toggle {
            background-color: $brand_inverse;
            color: $color_white;

            &.collapsed {
                background-color: transparent;
                color: $brand_inverse;
                border-color: $brand_inverse;
            }
        }

        > i {
            padding: 0;
        }

        &:hover, &:focus {
            background-color: $brand_inverse;
            color: $color_white;
        }
    }

    &.btn-inverse {
        background-color: $brand_inverse;
        
        &:hover, &:focus {
            background-color: darken($brand_inverse, 5);
        }
    }

    &.btn-card {
        color: $border_grey_dark;

        &:hover, &:focus{
            background-color: $border_grey;
            color: $color_text;
        }
    }

    &.btn-grey {
        background-color: $color_text;
        color: $off_white;

        &:hover, &:focus{
            background-color: $border_grey_dark;
        }
    }

    &.btn-icon {
        padding: 0;
        font-size: 14px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        line-height: 25px;
    }

    &.btn-default {
        @include background-image(none);
        background-color: $color_white;
        border: 1px solid $border_grey;
        color: $color_text;

        &:hover, &:focus {
            border-color: $border_grey_dark;
            color: $color_text;
        }
    }

    &.btn_facebook {
        color: $color_fb;
        border: 1px solid $color_fb;

        &:hover, &:focus {
            color: $color_white;
            background-color: $color_fb;
        }
    }

    &.btn_twitter {
        color: $color_tw;
        border: 1px solid $color_tw; 

        &:hover, &:focus {
            color: $color_white;
            background-color: $color_tw;
        }       
    }

    &:hover, &:focus {
        text-decoration: none !important;
        border-color: transparent;
        color: $color_white;
        opacity:1;

        .no-touch &{
            outline: none;
        }
    }
}

.btn-sm.btn, .btn-group-sm > .btn {
    padding: 4px 9px;
    font-size: .85em;

    &.info_btn {
        width: 20px;
        height: 20px;
        line-height: 18px;
    }
}

.btn-lg.btn, .btn-group-lg > .btn {
    padding: 10px 36px;
    font-size: 1.15em;
}

.btn-link {
    padding: 0;
    color: $color_text;
    display: inline-block;
    text-decoration: underline;

    &:hover, &:focus {
        color: $brand_inverse;
        text-decoration: none;
        background-color: transparent;
        border:none;
    }

    &:active {
        background-color:transparent;
        background-image: none;
    }
}

.nav-pills {
    > li {
        display: inline-block;
        clear: both;
        float: none;

        > a  {
            display: block;
            padding: .5em 1em;
            border-radius: 0;
            color: $color_grey_light;

             &:hover, &:focus {
                color: $brand_inverse;
                background-color: transparent;
             }
        }

        &.active > a {
            color:  $brand_accent;
            text-transform: uppercase;
            background-color: transparent;
            box-shadow: inset 0 -2px 0 $brand_accent;
            pointer-events: none;
        }

        @include MQ(M) {
            display: block;

            &.active > a { 
                box-shadow: inset 2px 0 $brand_accent;
            }
        }
    }
}

.surrogate_nav {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;

    > li {
        padding: 5px;

        > a  {
            padding: 5px 16px;
            display: block;
            border-radius: 15px;
            font-size: 12px;
            border: 1px solid $border_grey;
            background-color: $color_white;
            color: $color_grey_dark;

             &:hover, &:focus {
                color: $brand_accent;
                border-color: $brand_accent;
             }
        }

        &.active > a {
            background-color: white;
            color: $brand_accent;
            border-color: $brand_accent;
            border-width: 2px;
        }
    }
}

.to-top {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 3.5%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: $brand_accent url(../img/top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    @include transition (opacity .3s 0s, visibility 0s .3s);
    z-index: 30000;

    .no-touch & {
        &:hover, &:focus {
            background-color: rgba($brand_accent, .6);
            opacity: 1;
        }
    }

    &.is-visible, &.fade-out, .no-touch &:hover {
        @include transition(opacity .3s, visibility 0s);
    }

    &.is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    &.fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: .5;
    }
}

.site_bread_crumb {
    border-bottom: 1px solid $color_grey_light;
    
    .control_wrapper {
        border-top: none;
        padding: 10px 0;
    }

    .breadcrumb {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        margin-bottom: 0;

        li {
            font-size: 12px;
            color: $color_grey_dark;

            + li::before {
                padding: 0;
            }

            &.active {
                text-transform: uppercase;
                color: $color_text;
                pointer-events: none;
            }

            &:hover, &:focus {
                color: $brand_accent;
            }
        } 
    }
}
