.st-content {
    position: relative;
    width: 100%;
    z-index: 2;

    &::before {
		/* never visible - used to check MQ in jQuery */
		display: none;
		content: 'mobile';
	}

    @include MQ(M) {
        &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'tablet';
        }
    }

    @include MQ(L) {
        margin-top: 0;

         &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'desktop';
        }
    }
}

.section_block {
    padding: 30px 0;
    display: block;
    width: 100%;

    @include MQ(M) {
        padding: 60px 0;
    }
}

.section_border {
    border-bottom: 3px solid $border_grey;
}

.quote_text {
    font-family: "open-sans", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-style: italic;
    letter-spacing: 0.02em;
    max-width: 750px;
    margin: auto;

    @include MQ(M) {
        font-size: 18px;
    }
}

.q_author {
    font-size: 0.85em;
    letter-spacing: 0.2em;
    margin-top: 20px;
}

.subscribe_form {
    padding: 30px 0 10px;
}

.aside_layout {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin: 0 -15px;
    
    .aside_header, .aside_details {
        padding: 0 15px;
    }

    @include MQ(M) {
        flex-direction: row;
        align-items:  center;
    }

}

.section_4ths {
    
    @include MQ(M) {
        .aside_header {
            width: 25%;
        }
        
        .aside_details {
            width: 75%;
        }
    }
}

.flex_grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid_3rd {
    
    .item {
        padding: 15px;
    }
    
    @include MQ(S) {
        .item {
            width: calc(100% / 3); 
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

.section_header {
    padding-bottom: 40px;
    max-width: 550px;
    
    .aside_header &{
        padding-bottom: 20px;
        
        @include MQ(M) {
            padding: 0;
        }
    }
}

.section_meta_title {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.2;
}

.section_title {
    font-size: 26px;
    margin-bottom: 10px;

    @include MQ(M) {
        font-size: 32px;
    }
}

.feature {
    padding-bottom: 20px;
    display: inline-block;

    .faeture_details {
        white-space: normal;
    }

    @include MQ(M) {
        width: 25%;
        float: left;
        padding: 0 15px;
        vertical-align: top;
    }

    .content_wrapper {
        padding: 20px 0px;
        display: block;
        width: 100%;
    }
}

.feature_image {
    margin: 10px auto;
    position: relative;

    img {
        max-width: 96px;
    }
}

.feature_title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
}

.col {
    + .col {
        border-top: 2px solid $border_grey;
    }

    .user_title {
        margin-bottom: 20px;
    }

    .list_item {
        font-size: 13px;
        justify-content: center;
    }

    @include MQ(M) {
        flex: 1;

        .tile_wrapper {
            max-width: 500px;
            margin: auto;
        }

        + .col {
            border-top: none;
            border-left: 1px solid $border_grey;
        }

        .list_item {
            line-height: 2;
        }
    }
}

.media_items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    &.items_small {
        margin: 0 -10px;
    }

    @include MQ(S) {
        flex-direction: row;
    }
}

.item {
    padding: 15px 10px;
    
    .card_wrapper & {
        max-width: 400px;
        padding: 0;
    }

    .item_wrapper {
        width: 100%;
        display: block;
        height: 100%;
    }
    
    .cust_icon {
        padding: 5px 0;
    }
    
    @include MQ(S) {
        .media_items & {
            width: 50%;
            padding: 15px 10px;
        }
    }

    @include MQ(M) {
        .media_items & {
            padding: 30px 60px;
        }
        
        .items_small & {
            padding: 10px;
        }
    }
}

.item_title {
    font-size: 16px;
     
     .card_wrapper & {
         margin: 10px 0;
     }
     
     @include MQ(M) {
         font-size: 18px;
     }
}

.item_icon {
    height: 40px;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
    
    @include MQ(M) {
        height: 70px;
    }

    img {
        height: 100%;
        width: auto;
    }
}