.page_header {
	@include clearfix;
	padding: 30px 0;

	.main_wrapper & {
		padding-top: 15px;
	}

	.title {
		padding-bottom: 0;
		font-size: 14px;
		text-transform: uppercase;
	}

	+ .section_block {
		padding-top: 20px;
	}

}

.main_info, .pry_action {

	@include MQ(S) {
		display: inline-block;
	}
}

.main_info {
	padding-bottom: 10px;

	@include MQ(S) {
		max-width: 70%;
		padding-bottom: 0;
		padding-right: 10px;
	}
}

.pry_action {
	@include MQ(S) {
		float: right;
	}
}

.title {
    padding-bottom: 10px;
}

.page_content_wrapper {
	@include clearfix;
	clear: both;

	@include MQ(M) {
		margin: 0 -20px;
	} 
}

.page_subitems, .page_main {

	@include MQ(M) {
		padding: 0 20px;
		float: left;
	}
}

.page_subitems {
	@include MQ(M) {
		width: 35%;
	}

	&.left_bordered {
		padding-top: 30px;
		
		@include MQ(M) {
			padding-top: 0;
			border-left: 1px solid $border_grey;
		} 
	}
}

.page_main {

	@include MQ(M) {
		width: 65%;
	}

	.pane_title {
		margin-top: 5px;
	} 

	.content_wrapper {
		min-height: 400px;
	}
}

.pane_widget {
	width: 100%;
	background-color: white;
	border-radius: 4px;
	border: 1px solid $border_grey_light;

	&.widget_transparent {
		background-color: transparent;
		border: none;
	}

	+ .pane_widget {
		margin-top: 15px;
	}
}

.pane_header {
	@include clearfix;

	.pane_widget & {
		border-bottom: 1px solid $border_grey;
	}

	.widget_transparent & {
		padding-top: 0;
	}

	.pane_title, .pane_action {
		display: inline-block;
		vertical-align: -webkit-baseline-middle;
	}

	.info_pane & {
		padding-bottom: 15px;
		
		@include MQ(M) {
			padding-left: 40px;
		}
	}
}

.pane_title {
	font-size: 18px;

	.pane_widget & {
		font-size: 12px;
	}
}

.pane_body, .pane_header {
	padding: 10px 15px;

	@include MQ(M) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.widget_transparent {
	.pane_body, .pane_header {
		padding-left: 0;
		padding-right: 0;
	}

	.pane_header {
		margin-bottom: 15px;
	}
}

.info_meta {
	@include flexbox();
	font-size: 12px;

	.meta_block & {
		flex-direction: column;
		align-items: center;
		flex: 1;

		+ .info_meta  {
			margin-top: 0;
		}
	}

	.profile_banner & {
		justify-content: center;
	}

	.meta_list & {
		+ .info_meta  {
			margin-top: 0;
			margin-left: 1em;
		}
	}

	+ .info_meta {
		margin-top: 7.5px;
	}

	.card_details & {
		font-size: 11px;
	}

	.tag + .tag {
		&::before {
			content: ",";
			padding-right: 3px;
		}
	}

	a {
		display: block;
		white-space: normal;

		&:hover {
			text-decoration: underline;
		}
	}
}

.meta_list {
	@include flexbox();
	flex-wrap: wrap;
    padding-top: 10px;

	&.list_centered {
		max-width: 450px;
		margin: auto;
		justify-content: center;
	}
}

.meta_block {
	@include flexbox();

	.meta_value {
		font-size: 18px;
	}
}

.meta_label {
	text-align: right;
	font-weight: 600;
	padding-right: 10px;

	&.has_colon::after {
		content: ":";
	}

	.meta_block & {
		padding-right: 0;
		padding-bottom: 5px;
		font-family: $header_font;
		text-transform: uppercase;
		letter-spacing: .15em;
	}

	.meta_list & {
		padding-right: 5px;	
	}

	.card_details & {
		padding-right: 5px;
	}
}

.aux_wrapper {
	@include flexbox();
	flex-direction: column;

	@include MQ(M) {
		flex-direction: row;
	}
}

.aux_nav {
	padding-bottom: 30px;

	@include MQ(M) {
		width: 30%;
		padding-bottom: 0;
		padding-right: 30px;
	}
}

.aux_content {
	@include MQ(M) {
		width: 70%;
	}

	.pane_body {
		padding-top: 30px;
	}
}

.pane_item {
    + .pane_item {
        padding-top: 30px;
    }
}